.section-text{
    font-size: 24px;
    text-decoration: underline;
    padding-bottom: 40px;
    word-spacing: 4px;
}

@media only screen and (max-width: 1200px) {
    .section-text{
        font-size: 20px;
    }
  }
  
  @media only screen and (max-width: 724px) {
    .section-text {
        font-size:20px;
    }
  }