.wrapper-container {
    padding: 8px 40px;
}

@media only screen and (max-width: 1200px) {
    .wrapper-container {
        padding: 8px 24px;
    }
}

@media only screen and (max-width: 724px) {
    .wrapper-container {
        padding: 8px;
    }
}