.header-container {
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    position: sticky;
    z-index: 100;
    top: 0;
    /* background-color: #3A7FC1; */
    background-color: #01192A;
    margin-bottom: 50px;
    padding: 0px 40px;


}
.header-container  a{
    color: white;
}
.header-options {
    padding: 0px 16px;

}